*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures

.idea/misc.xml

/build/
build/

.idea/workspace.xml
.idea/

build/classes/main/com/cundong/apkdiff/ApkDiffDemo.class
